//components/list_item.scss

.recipes-list-item {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background: rgba(224, 121, 121, 0.698);
	border-bottom: 1px solid grey;
	padding: 0.75rem;
}
