//components/recipes-list.scss

#recipes-list {
	margin-top: 10px;
	background: rgba(245, 245, 245, 0.664);
	height: 70vh;
	border-radius: 15px;
	overflow-y: scroll;
}

#pagination {
	margin-top: 10px;
	display: flex;
	justify-content: center;
}

@media screen and (max-width: 480px) {
	#recipes-list {
		height: 350px;
	}
}
