//components/recipes-list.scss

#recipes-list {
	margin-top: 10px;
	background: rgba(245, 245, 245, 0.664);
	height: 350px;
	border-radius: 15px;
	overflow-y: scroll;
}

#pagination {
	margin-top: 10px;
	display: flex;
	justify-content: center;
}
