//components/search-flie.scss

#search-recipes-field {
	height: 2rem;
	width: 20rem;
	background: rgba(169, 146, 246, 0.835);
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	border: none;
}
